*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



body{ 
    color:red;
    background-color: rgb(127, 140, 43);
}